/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: #303C42;
}

/* Breakpoint-Specific CSS */
@media only screen and (min-width : 100px) {
	.btn-lg-custom {
		width: 48%;
		padding: 20px;
	}
		
	body {
		margin-bottom: 320px;
	}
	
	.footer {
		height: 320px;
	}
	
	.secondary-navbar-desktop {
		display: none;
	}
	
	.secondary-navbar-mobile {
		display: block;
	}
	
	.navbar form {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.btn-lg-custom {
		width: 25%;
	}
	
	body {
		margin-bottom: 150px;
	}
	
	.footer {
		height: 150px;
	}
	
	.secondary-navbar-desktop {
		display: block;
	}
	
	.secondary-navbar-mobile {
		display: none;
	}
	
	.navbar form {
		display: block;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.btn-lg-custom {
		width: 25%;
	}
	
	body {
		margin-bottom: 150px;
	}
	
	.footer {
		height: 150px;
	}
	
	.secondary-navbar-desktop {
		display: block;
	}
	
	.secondary-navbar-mobile {
		display: none;
	}
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
  padding: 70px 15px 0;
}

select {
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	text-align: center;
	font-family: 'Gudea', Arial, sans-serif;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #3172AE;
	border: none;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar-inverse .navbar-collapse .navbar-form {
	border: none;
}

h1 {
	font-size: 50px;
	font-family: 'Gudea', Arial, sans-serif;
}

h2 {
	font-size: 30px;
	font-family: 'Gudea', Arial, sans-serif;
}

p { 
	font-size: 18px;
	font-family: 'Gudea', Arial, sans-serif;
}

.navbar-custom {
	background-color: #3172AE;
	border: none;
	padding: 0px 0px; 
}

.navbar-custom .navbar-brand {
	color: #ffffff;
	font-size: 20px;
}

.navbar-custom #navbar li a {
	color: #ffffff;
	font-size: 16px;
}

.navbar-custom #navbar li a:hover {
	color: #cfd8dc;
}

.navbar-custom #navbar li a:hover {
	color: #cfd8dc;
}

.navbar-custom #navbar li.active a {
	background: #346094;
}

.navbar-custom .collapse .navbar-collapse {
	
}

.footer {
	padding: 20px 0px;
	background-color: #3172AE;
}

footer p {
	color: #cfd8dc;
	font-size: 14px;
}

footer h3 {
	color: #ffffff;
	font-size: 20px;
}

footer a {
	color: #cfd8dc;
}

footer a:hover, footer a:active {
	color: #ffffff;
	text-decoration: none;
}

footer ul {
	list-style: none;
	padding: 0px;
}

.center {
	padding: 40px 15px;
	text-align: center;
}

.date {
	padding-top: 0px;
	padding-bottom: 20px;
}

.speaker {
	
}

.event:last-of-type {
	margin-bottom: 60px;
}

.event-time {
	font-size: 24px;
}

.event-type {
	margin-top: 20px;
	margin-bottom: 20px;
}

.event-type .seminar-tag {
	font-size: 14px;
	background-color: #63A70A;
	color: #ffffff;
	padding: 10px;
	width: 10%;
}

.event-type .class-tag {
	font-size: 14px;
	background-color: #F38B00;
	color: #ffffff;
	padding: 10px;
}

.event-type .main-tag {
	font-size: 14px;
	background-color: #7EA8AD;
	color: #ffffff;
	padding: 10px;
}

.title {
	font-weight: bold;
	font-size: 24px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#3172AE;
}

footer .btn, .secondary-navbar-mobile .btn {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.secondary-navbar-desktop {
	background-color: #F7F7F7;
	margin-top: 60px;
	margin-bottom: 60px;
}

.secondary-navbar-mobile {
	background-color: #F7F7F7;
	margin-top: 10px;
	margin-bottom: 60px;
	padding: 30px;
}

.secondary-navbar-mobile h1 {
	font-size: 40px;
}

.category {
	font-size: 20px;
	margin-top: 40px;
}

.modal-fullscreen {
	background: #ffffff;
	padding-top: 20px;
}

.modal-fullscreen .modal-header {
	border: 0;
}

.modal-fullscreen .modal-content {
	border: 0;
	-webkit-box-shadow: none;
  	box-shadow: none;
}

.modal-fullscreen .modal-footer {
	border: 0;
	text-align: center;
}

.modal-fullscreen .modal-footer .btn {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.modal-fullscreen .modal-dialog {
  	margin: 0;
  	margin-right: auto;
  	margin-left: auto;
  	width: 100%;
	height: 100%;
}

.modal-fullscreen .class-category {
	border-bottom: 1px solid #c6c6c6;
	padding-top: 30px;
	padding-bottom: 20px;
}

.event {
	padding: 20px 0px;
	border-bottom: 1px solid #c6c6c6;
}

.active-category {
	background: #c6c6c6;
	padding: 20px; 
}

category a {
	text-decoration: none;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}

.btn-blue { 
  color: #ffffff; 
  background-color: #418FDE; 
  border: none; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #ffffff; 
  background-color: #0E5CAB; 
  border: none; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #418FDE; 
  border: none; 
} 
 
.btn-blue .badge { 
  color: #418FDE; 
  background-color: #ffffff; 
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
